<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    
    <!-- 1. Intercepta o arquivo principal com o IISNode -->
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>

    <rewrite>
      <rules>
        <!-- 2. Permite que o Front-End (HTML/JS) seja lido da pasta public -->
        <rule name="StaticFiles" stopProcessing="true">
          <match url="^(.+)$" />
          <conditions>
            <add input="{DOCUMENT_ROOT}/public/{R:1}" matchType="IsFile" />
          </conditions>
          <action type="Rewrite" url="/public/{R:1}" />
        </rule>

        <!-- 3. Redireciona todas as chamadas de API para o Node.js -->
        <rule name="DynamicContent" stopProcessing="true">
          <match url=".*" />
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>

    <!-- 4. GERAÇÃO DO RELATÓRIO DO NODE (LOGS) -->
    <iisnode 
        nodeProcessCommandLine="node.exe"
        devErrorsEnabled="true" 
        debuggingEnabled="true"
        loggingEnabled="true"
        logDirectory="iisnode-logs" 
    />
    
    <!-- 5. Permite o upload de vídeos pesados no IIS (limite configurado para ~500MB) -->
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="524288000" />
      </requestFiltering>
    </security>
    
  </system.webServer>
</configuration>